.page1 {
	text-align: center;
	background-image: url("../img/background_big.jpg");
	background-size: cover;
}

#menu li a,
a {
    text-decoration: none
}
#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, .5);
    -webkit-border-radius: 10px;
    border-radius: 10px
}
#menu li.active {
    background: #666;
    background: rgba(0, 0, 0, .5);
    color: #fff
}
#menu li a,
#menu li.active a:hover {
    color: #000
}
#menu li.active a {
    color: #fff
}
#menu li:hover {
    background: rgba(255, 255, 255, .8)
}
#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 0
}


i.scroll-down {
    border: 3px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 45px;
    height: 65px;
    width: 65px;
    line-height: 66px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

#footer{
    position: absolute;
    bottom:0;
}

div .sketch {
	font-family: "KG Broken Vessels Sketch";
	color: #3e3e3e;
	line-height: 1;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	div .sketch {
		font-size: 20px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  div .sketch {
		font-size: 20px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  div .sketch {
		font-size: 20px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
  div .sketch {
		font-size: 60px;
	}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
  div .sketch {
		font-size: 70px;
	}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
  div .sketch {
		font-size: 70px;
	}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  div .sketch {
	  font-size: 120px;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  div .sketch {
	  font-size: 140px;
  }
}

/* iPhone 4 - 5s ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	div .sketch {
		font-size: 25px;
	}
	#intro .intro-text {
		font-size: 15px;
	}
	#intro h1 {
		font-size: 80%;
	}

}

/* iPhone 6 ----------- */
@media
only screen and (max-device-width: 667px),
only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media
only screen and (min-device-width : 414px),
only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}

@font-face {
	font-family: "KG Broken Vessels Sketch";
	src: url("../fonts/KGBrokenVesselsSketch.eot");
	src:
			url("../fonts/KGBrokenVesselsSketch.ttf")
			format("truetype");
}